.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  border: 5px solid rgba(252, 29, 29, 0.952);
  background-color: rgba(252, 29, 29, 0.952);
}

.main-header {
  margin: 50px auto;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
  display: inline-block;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(148, 147, 147, 0.637);
  z-index: 999;
}

.nav-link {
  text-transform: capitalize;
  color: rgba(252, 29, 29, 0.952);
  font-weight: bolder;
}

.nav-link:hover {
  color: green;
}

.dropdown {
  float: left;
  padding-left: 25px;
}

.subheading {
  text-transform: capitalize;
  text-align: center;
  display: inline;
  float: right;
  position: relative;
  right: 45%;
}

.dropdown-articles-group {
  overflow: auto;
}

.articles-list {
  clear: both;
}

.article-card {
  cursor: pointer;
  display: inline-block;
}

.comment-card,
.article-card {
  border: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
